[submodule "pretender"]
	path = pretender
	url = https://github.com/ucsb-seclab/pretender.git
[submodule "avatar2-pretender"]
	path = avatar2-pretender
	url = https://github.com/avatartwo/avatar2.git
[submodule "openocd"]
	path = openocd
	url = https://github.com/openocd-org/openocd.git
