[submodule "pretender"]
	path = pretender
	url = git@github.com:stefan-schlagh/pretender.git
[submodule "avatar2-pretender"]
	path = avatar2-pretender
	url = git@github.com:stefan-schlagh/avatar2.git
[submodule "openocd"]
	path = openocd
	url = https://github.com/openocd-org/openocd.git
